<div class="switch" role="button" aria-label="Changer de theme">
  <input type="checkbox" id="theme-switcher" class="switcher-theme" >
  <label for="switcher-theme">
      <span><i id="switch-icon" class="fas"></i></span>
  </label>
</div>
