@layout('layouts/main')

@section('body')
  @include('partials/header')
  @include('partials/services')
  @include('partials/portfolio')
  @include('partials/about')
{{--  @include('partials/review')--}}
  @include('partials/contact')
  @end
