.about {
  background: var(--body-color-secondary);
}

.about .column-1 {
  position: relative;
}

.about .column-1::before {
  content: "A propos";
  position: absolute;
  font-weight: 800;
  color: var(--red);
  left: -20px;
  font-size: 5rem;
  top: -10px;
  opacity: 0.09;
  @include dark() {
    opacity: 0.088;
  }
}

h3.about-title {
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--dark-primary);
  margin-bottom: 0.5rem;
}

.about .section-text {
  margin-top: .5rem;
  font-size: 1.15rem;
  color: var(--dark-secondary);
  text-align: justify;
}

.about .section-text br {
  margin-bottom: 1rem;
}

.about .column-2 {
  position: relative;
  height: 100%;
  width: 100%;
}

.about .column-2 img {
  margin-left: 2.5rem;
}

.about .dots {
  position: absolute;
  width: 500px;
  opacity: var(--opacity-shapes);
  top: 50%;
  left: 60%;
}

.svg-color-contrast {
  fill: var(--svg-contrast);
}

.skills {
  margin: 1.5rem 0 2.5rem 0;
}

.skill {
  margin: 1rem 0;
}

.skill-title {
  color: var(--dark-primary);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.skill-bar {
  width: 70%;
  height: 8px;
  background: var(--body-color);
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.skill-progress {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, var(--body-color) 0%, #FF4D4D 100%);
  transition: 1s;
}
