.portfolio {
  position: relative;
}

.background-bg {
  position: absolute;
  width: 100%;
  height: 520px;
  top: 0;
  left: 0;
  background: var(--red);
}

.grid-portfolio {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}

/**
* Shape light
**/

.portfolio .shape-light.carre {
  top: 40%;
  left: 23%;
}

.portfolio .shape-light.circle {
  top: 20%;
  right: 23%;
}

.portfolio .shape-light.half-circle {
  bottom: 20%;
  right: 10%;
}

.portfolio .shape-light.half-circle2 {
  top: 20%;
  left: 10%;
}

.portfolio .shape-light.close {
  top: 20%;
  left: 30%;
}

.portfolio .shape-light.wave {
  top: 15%;
  left: 47%;
}

.portfolio .shape-light.wave2 {
  bottom: 15%;
  left: 5%;
}

.portfolio .shape-light.triangle {
  top: 30%;
  right: 10%;
}

.portfolio .shape-light.carre2 {
  top: 40%;
  right: 30%;
}

/**
* End shape light
**/

.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  width: 100%;
  cursor: pointer;
  height: 330px;
}

.gallery-image img {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.gallery-image .img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  color: #FFFFFF;
  background: rgba(255, 77, 77, .9);
  opacity: 0;
  transition: ease-in-out .3s;
}

.gallery-image:hover .img-overlay {
  opacity: 1;
}

.img-description h3 {
  font-size: 1rem;
}

@include down(1200) {
  .grid-portfolio {
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@include down(946) {
  .grid-portfolio {
    grid-gap: 1rem;
    grid-template-columns:1fr;
    max-width: 70%;
    margin: auto;
  }
  .gallery-image img {
    height: auto;
  }
}

@include down(764) {
  .grid-portfolio {
    grid-gap: 1rem;
    grid-template-columns:1fr;
    max-width: 100%;
    margin: auto;
  }
  .gallery-image img {
    height: 100%;
  }
  .portfolio .shape-light.half-circle {
    bottom: 50%;
    right: 10%;
  }

  .portfolio .shape-light.half-circle2 {
    top: 10%;
    left: 10%;
  }

  .portfolio .shape-light.carre {
    top: 30%;
    left: 15%;
  }

  .portfolio .shape-light.circle {
    top: 8%;
    right: 10%;
  }

  .portfolio .shape-light.wave {
    top: 10%;
    left: 47%;
  }

  .portfolio .shape-light.wave2 {
    bottom: 15%;
    left: 5%;
  }

  .portfolio .shape-light.triangle {
    top: 22%;
    right: 20%;
  }
  .portfolio .shape-light.carre2 {
    top: 40%;
    right: 25%;
  }
}


@include down(550) {

  .portfolio .shape-light.wave {
    width: 55px;
    height: auto;
    left: 40%;
  }

  .portfolio .shape-light.wave2 {
    display: none;
  }

  .portfolio .shape-light.triangle {
    top: 22%;
    right: 20%;
  }
  .portfolio .shape-light.carre2 {
    display: none;
  }
}

@include down(362) {

  .portfolio .shape-light.wave {
    width: 55px;
    height: auto;
    left: 40%;
  }

  .portfolio .shape-light.wave2 {
    display: none;
  }

  .portfolio .shape-light.carre {
    display: none;
  }
  .portfolio .shape-light.triangle {
    top: 25%;
    right: 35%;
  }
  .portfolio .shape-light.close {
    top: 30%;
    left: 5%;
  }
}
