@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
// Variables
// ==================
$font: 'Poppins', sans-serif;
$font-alt: 'Inter', sans-serif;

.text-light {
  color: #FFFFFF !important;
}

.text-center {
  text-align: center;
}

.p-sm {
  max-width: 65%;
  margin: auto;
  line-height: 1.95;
}
