<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
        content="Portfolio de Guillemet Jeremy, développeur web exerçant à Limoges (87), sur ce portfolio, vous y trouverez l'intégralité de mes projets."/>
  {{-- FACEBOOK META --}}
  <meta property="og:title" content="Portfolio de Guillemet Jeremy"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description"
        content="Portfolio de Guillemet Jeremy, développeur web exerçant à Limoges (87), sur ce portfolio, vous y trouverez l'intégralité de mes projets."/>
  <meta property="author" content="Guillemet Jeremy"/>
  <meta property="og:image" content="{{asset('assets/images/meta-data/img-portfolio.jpg')}}"/>
  <meta property="og:image:alt" content="fond bleu avec des figures"/>
  {{-- END FACEBOOK META--}}
  <link
    rel="stylesheet"
    href="https://unpkg.com/swiper/swiper-bundle.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
  />
  {{--FAVICON--}}
  <link rel="icon" href="{{asset('assets/images/favicon-32x32.ico')}}">
  <link rel="icon" type="icon" href="{{asset('assets/images/favicon-16x16.ico')}}" sizes="16x16">
  <link rel="icon" type="icon" href="{{asset('assets/images/favicon-32x32.ico')}}" sizes="32x32">
  {{--END FAVICON--}}
  @entryPointStyles('app')
  @entryPointScripts('app')
  <title>Portfolio Guillemet Jeremy</title>

</head>
<body class="">
<main>
  @!section('body')
</main>
<button class="btn-back" id="btn-back" role="button" aria-label="Remonter le site vers le haut"
        style="display: none">
  <i class="fas fa-chevron-up"></i></button>
<footer class="footer">
  <div class="container">
    <div class="grid-footer">
      <div class="column-footer footer-about">
        <h3 class="title-sm">A propos du design</h3>
        <p class="footer-text">
          Certaines illustrations du portfolio sont libres de droits et disponible sur <a
            href="https://undraw.co" class="strong">undraw.co</a> et ont été modifier par mes
          soins. Les illustrations des projets ne sont pas libres de droits et nécessite mon
          autorisation pour leur utilisation.
        </p>
      </div>
      <div class="column-footer footer-links">
        <div class="column-list">
          <h3 class="title-sm underline-sm">Liens</h3>
          <ul>
            <li>
              <a href="#">Accueil</a>
            </li>
            <li>
              <a href="#services">Services</a>
            </li>
            <li>
              <a href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a href="#about">A propos</a>
            </li>
            <li>
              <a href="#contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="column-list">
          <h3 class="title-sm underline-sm">Services</h3>
          <ul>
            <li>Maquette web</li>
            <li>Développement serveur</li>
            <li>Développement front</li>
            <li>Développement fullStack</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <p class="footer-text">
        Copyright &copy; 2021 Tous droits réserver | Made By&nbsp;<strong class="strong">Guillemet
          Jeremy.</strong>
      </p>
      <div class="container-social">
        <p class="footer-text social">
          Suivez moi sur les réseaux
        </p>
        <ul class="lists-social" role="list">
          <li role="listitem">
            <a href="https://github.com/Jerem-DEV-lab">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li role="listitem">
            <a href="https://www.linkedin.com/in/jeremy-guillemet/">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <div class="footer-actions">
          @!component('components/switch')
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
